body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(21, 75, 128);
    font-size: 16px;
    color: #f8f9fa;
}

header {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-family: 'Georgia', serif;
}

.container {
    display: flex;
    width: 90%;
    margin: 20px auto;
    gap: 20px;
}

main {
    padding: 20px;
    flex: 3;
    background: rgb(193, 193, 193);
    color: #434343;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

aside {
    background: rgb(193, 193, 193);
    color: #434343;
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

h2 {
    color: #007bff;
    font-family: 'Times New Roman', serif;
    font-size: 22px;
}

.meta {
    color: gray;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

ul {
    list-style-type: square;
}

.about img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
